@import "../../assets/sass/variable.scss";


.trainingPlans{
    height: 100vh;
    display: grid;
    grid-template-rows: 7% 86% 7%;
    font-family: $ft-font-header;
    // width: 100vh;

    .trainingPlans_main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 5%;
        padding: 2%;
    }
    .pagination{
        height: 100%;
        // width: 20%;
        display: flex;
        flex-direction: row;
        color: $first-color;
        font-family: $ft-font-header;
        justify-content: center;
        align-items: center;
        
    }
}

@media screen and (max-width: 768px){
    .trainingPlans{
        display: flex;
        flex-direction: column;
    }
}