@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@900&display=swap');

$ft-font-header: 'Roboto', sans-serif;
$first-color: #34495e;
$second-color: #22313f;
$third-color: #8dc6ff;
$fourth-color: #e4f1fe;